@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins", sans-serif;
}

.sun-spin{
    animation: spin 12s linear infinite;
}

.cloud-size{
    animation: size 6s linear infinite;
    right: 68%;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.night{
  height: 150vh;
}
.morning{
  height: 120vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}